/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}
/* Mixins */
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 530px) {
  header {
    flex-direction: column;
  }
}
header h1 {
  font-size: 2rem;
  width: 35%;
  color: #0077b5;
}
header nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 530px) {
  header nav {
    margin-top: 1rem;
    width: 90%;
  }
}
header nav a {
  color: #283e4a;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
main {
  padding: 1rem;
}
.ProfileCard .ProfileCard__ProfileImage {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  padding: 0.5%;
}
.ProfileCard .ProfileCard__User {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
  padding: 0 2%;
}
.ProfileCard .ProfileCard__User img {
  width: 20%;
}
.ProfileCard .ProfileCard__User .ProfileCard__User_Info {
  margin-top: 2%;
}
.ProfileCard .ProfileCard__User .ProfileCard__User_Info h1 {
  font-weight: bold;
  font-size: 1.4rem;
}
.AboutCard,
.ExperienceCard,
.EducationCard {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  border-top: 4px solid #0077b5;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin-top: 1rem;
}
.AboutCard h2,
.ExperienceCard h2,
.EducationCard h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
